@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root{
    --primary-color : hsl(172, 67%, 45%);
    --cyan: hsl(183, 100%, 15%);
    --input-color: hsl(186, 14%, 43%);
    --font-color: hsl(184, 14%, 56%);
    --color1: hsl(185, 41%, 84%);
    --color2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);

}
body{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}
input{
    font-size: 24px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }