@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --primary-color: hsl(172, 67%, 45%);
  --cyan: hsl(183, 100%, 15%);
  --input-color: hsl(186, 14%, 43%);
  --font-color: hsl(184, 14%, 56%);
  --bg-color: hsl(185, 41%, 84%);
  --color2: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  background-color: var(--bg-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  font-family: 'Space Mono', monospace;
}

.logo {
  text-align: center;
  margin: 4em auto;
}

.card {
  width: 48em;
  margin: .1em auto;
  background: var(--White);
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-columns: 2;
          columns: 2;
  gap: 2em;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calculator {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
}

.form-group {
  margin: 0.5em auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.form-group label {
  margin: 0.25em 0;
}

input[type="text"] {
  font-size: 1.3rem;
  width: 100%;
  text-align: right;
  border-radius: 0.2em;
  border: 1px solid var(--color2);
  background: var(--color2);
  padding: 0.1em 0.5em;
  margin: 0.25em 0;
}

.results {
  background: var(--cyan);
  border-radius: 1em;
  color: var(--color2);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results .result span {
  display: block;
  color: var(--font-color);
  font-size: 0.8rem;
}

.results .result .heading {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.results .result .resultamount {
  color: var(--primary-color);
  font-size: 2.2em;
  margin: 0.2em 0;
  font-weight: 700;
}

.inputs {
  -webkit-columns: 3;
          columns: 3;
}

.inputs > input {
  width: 100%;
  padding: 0.1em 0.3em;
  margin: 0.45em 0 !important;
}

input[type="button"] {
  font-size: 1.3rem;
  color: var(--color2);
  background: var(--cyan);
  border: 1px solid var(--cyan);
  border-radius: .25em;
}

.reset {
  width: 100%;
  font-size: 1.3rem;
  color: var(--cyan);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: .25em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */