@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root{
    --primary-color : hsl(172, 67%, 45%);
    --cyan: hsl(183, 100%, 15%);
    --input-color: hsl(186, 14%, 43%);
    --font-color: hsl(184, 14%, 56%);
    --bg-color: hsl(185, 41%, 84%);
    --color2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);

}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    background-color: var(--bg-color);
    box-sizing:border-box;
    
}
input,button{
    font-family: 'Space Mono', monospace;
}


.logo{
    text-align: center;
    margin: 4em auto;
}
.card {
    width: 48em;
    margin: .1em auto;
    background: var(--White);
    padding: 1.5em;
    display: flex;
    columns: 2;
    gap: 2em;
    border-radius: 1em;
    box-sizing:border-box
}
.calculator {
    flex: 1;
    display: grid;
}
.form-group {
    margin: 0.5em auto;
    width: 100%;
    display: grid;
    label{
    margin: 0.25em 0;
    font-size: 0.85rem;
    }
}
.textinput {
    font-size: 1.3rem;
    width: 100%;
    text-align: right;
    border-radius: 0.2em;
    border: 1px solid var(--color2);
    background: var(--color2);
    padding: 0.1em 0.5em;
    margin: 0.25em 0;
    color: var(--cyan);
    font-weight: 700;
    &:hover, &:active, &:focus-visible{
        outline: none !important;
        border-color: var(--primary-color);
        cursor: pointer;
    }
}
.results {
    background: var(--cyan);
    border-radius: 1em;
    color: var(--color2);
    flex: 1;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .result {
        display: flex;
        span {
            display: block;
            color: var(--font-color);
            font-size: 0.8rem;
        }
        .heading{
            flex: 1;
        }
        .resultamount {
            color: var(--primary-color);
            font-size: 2.2em;
            margin: 0.2em 0;
            font-weight: 700
        }
    }
}

.inputs{
    columns: 3;
    > input{
        width: 100%;
        padding: 0.1em 0.3em;
        margin: 0.45em 0 !important;
    }
}
input[type="button"]{
    font-size: 1.3rem;
    color: var(--color2);
    background: var(--cyan);
    border: 1px solid var(--cyan);
    border-radius: .25em;
    font-weight: 600;
}
.reset {
    width: 100%;
    font-size: 1.4rem;
    color: var(--cyan);
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: .25em;
    font-weight: 600;
    padding: 0.1em 0
}
input[type="button"]:hover,input[type="button"]:focus, .reset:hover,.reset:focus{
    background: var(--bg-color);
color: var(--cyan);
border-color: var(--bg-color);
}
.input-icon {
    position: relative;
    .icon{
        position: absolute;
        top: 25%;
        padding: 0.1em 0.5em;
    }
}
.labels {
    justify-content: space-between;
    display: flex;
}
.errorLabel {
    color: hsl(0, 92%, 50%);
    display: none;
}
.textinput.errorinput{
    border-color: hsl(0, 92%, 50%);
    &:hover, &:active, &:focus-visible {
        border-color: hsl(0, 92%, 50%) ;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media screen and (max-width: 834px){
    body{
        font-size: 15px;
    }
    input[type="text"],input[type="button"]{
        font-size: 1rem;
    }
}
@media screen and (max-width: 730px){
    .card{
        width: 85%;
        display: grid;
    }
    input[type="text"],input[type="button"]{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 505px) {
    .card{
        width: 100%;
    }
    .inputs{
        columns: 2;
    }
    
}